/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background: linear-gradient(90deg, #ff5722, #e64a19);
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.logo img {
    height: 50px; /* Adjust based on your logo size */
    margin-right: 20px;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: #e64a19;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: #d84315;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-content a {
    color: #333;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #b2b2b2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

video {
    border: 2px solid #ff5722;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.hidden {
    display: none;
}

#tools-container {
    padding: 20px;
}

.tool {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    white-space: pre-wrap; /* Preserve formatting */
}
.tool:hover{
    background-color: #ff5722;
    color: white;
}

#tool-list {
    font-family: monospace;
}

#video-list {
    display: grid;
    grid-template-columns: auto auto auto;
}

.video-item video{
    height:auto;
    width: 30%;
}